KEEPALIVED_CONF=/opt/lvs-router/keepalived/lb1/keepalived.conf
VIRTUAL_SERVER_CONF=/opt/lvs-router/keepalived/virtual_server.conf
HEALTHY_HTTP_PORT=45555
IPVS_STATE_FILE=/opt/lvs-router/run/ipvs-state/current_service
ROUTER_HTTP_DOCROOT=/opt/lvs-router/run/router-http
IPVS_MODULES="ip_vs ip_vs_rr ip_vs_wrr ip_vs_sh"
