[Unit]
Description=LVS Router
Documentation=file:///opt/lvs-router
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment=KEEPALIVED_CONF=/opt/lvs-router/keepalived/lb1/keepalived.conf
Environment=VIRTUAL_SERVER_CONF=/opt/lvs-router/keepalived/virtual_server.conf
Environment=IPVS_STATE_FILE=/opt/lvs-router/run/ipvs-state/current_service
Environment=ROUTER_HTTP_DOCROOT=/opt/lvs-router/run/router-http
Environment=ROUTER_RUN_DIR=/opt/lvs-router/run
Environment=ROUTER_LOG_DIR=/opt/lvs-router/logs
EnvironmentFile=-/opt/lvs-router/lvs-router.env
ExecStart=/opt/lvs-router/bin/start.sh
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
